<h1 class="index-head">All Users</h1>
<%=link_to "Top Reviewers", users_most_reviews_path, class:"new"%>

<ol>
<%@users.alphabetized.each do |user|%>
  <li><%=link_to "#{user.name} - #{user.reviews.count} Review(s)", user_path(user)%></li>
<%end%>
</ol>
