<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
     		preventing you from adding an author:
      </h2>
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


	<%= form_tag book_review_path(@review), method: "patch" do %>
	  <%= render "form" %>
	<% end %>
