<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
     		preventing you from adding a review:
      </h2>
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

	<%= form_tag reviews_path, id:"review_form" do %>
	  <%= render "form" %>
	<% end %>

  <section id="reviewResult">
    <h2 id="bookReviewTitle"></h2>
    <h3 id="bookReviewAuthor"></h3>
    <h3 id="bookReviewReviewer"></h3>
    <h3 id="bookReviewRating"></h3>
    <p id="bookReviewContent"></p><br><br><br><br>
  </section>
